<input #newTask
       (keyup.enter)="addTask(newTask.value); newTask.value=''"
       (blur)="addTask(newTask.value); newTask.value=''"
        class="">

<button (click)="addTask()"
        class="btn btn-info"
>add
</button>

<ul>
  <li *ngFor="let todo of todos">
    <button (click)="deleteTask(todo.id)"
            class="btn btn-danger">
      delete
    </button>

    {{ todo.task_value }}

    <input (click)="setTaskDone(todo)" class="check" type="checkbox" name="todo.done" title="check"/>
  </li>
</ul>

<ul>
  Done todos:
  <li *ngFor="let doneTodo of doneTodos">
      {{ doneTodo.task_value }}
  </li>
</ul>
